<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.youngpilot.Talkman.InputMethod</string>
    <key>CFBundleName</key>
    <string>TalkmanIM</string>
    <key>CFBundleDisplayName</key>
    <string>Talkman</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>TalkmanIM</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.2</string>
    <key>InputMethodConnectionName</key>
    <string>com.youngpilot.TalkmanIM.IMK_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>TalkmanInputController</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.youngpilot.Talkman.inputmode</key>
            <dict>
                <key>TISInputSourceIsEnabled</key>
                <true/>
                <key>TISInputSourceIsSelectCapable</key>
                <true/>
                <key>TISInputSourceType</key>
                <string>TISTypeKeyboardInputMode</string>
                <key>InputSourceNonLocalizedName</key>
                <string>Talkman</string>
            </dict>
        </dict>
    </dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
